@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
    font-family: "Inter", sans-serif;
}

header {
    display: flex;
    height: 80px;
    background-color: black;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
}

.logo {
    padding: 10px;
    display: flex;
    align-items: center;
    height: 100%;
}

.logo svg {
    height: 40px;
    fill: #fff;
}

ul {
    display: flex;
    gap: 20px;
}

li,
a {
    font-weight: 600;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: #1ed760;
}

.menu-geral {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.banner {
    width: 100%;
    height: 600px;
    background: linear-gradient(299deg, #6c0ee0 0%, #f037a6 100%);
    display: flex;
    align-items: center;
}

.banner-title-container {
    display: flex;
    width: 626.18px;
    height: 229.19px;
    gap: 24px;
    flex-direction: column;
    justify-content: center;
}

.banner-title-container h1 {
    color: #fff;
    font-family: "Inter";
    font-size: 59.375px;
    font-style: normal;
    font-weight: 900;
    line-height: 73.6px;
    letter-spacing: -2.56px;
}

.banner-title-container button {
    width: 216.13px;
    height: 48px;
    display: flex;
    padding: 15px 31.8px 15px 32px;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    background: #fff;
    outline: none;
    border: none;
    cursor: pointer;
    color: #000;
    font-size: 13.453px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
}
.additional{
    background-color: #fff;
    height: 622.59px;
}
.merchan {
    padding: 40px;
    display: flex;
    height: 495.19px;
    background: linear-gradient(180deg, #B023C2 15%, #600BE7 100%);
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.merchan span {
    font-family: Inter;
    font-size: 45px;
    font-weight: 900;
    line-height: 58px;
    letter-spacing: -0.9599999785423279px;
    text-align: center;
    color: #fff;
}

.menu-acordeon{
    background-color: #fff;
    height: 587.13px;
}

.acess {
    display: flex;
    background: linear-gradient(300.12deg, #6C0EE0 16%, #F037A6 100%);
    height: 450px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
.acess span{
    font-family: Inter;
    font-size: 45px;
    font-weight: 900;
    line-height: 58px;
    letter-spacing: -0.9599999785423279px;
    text-align: center;
    color: #fff;
}
.acess button{
    width: 216.13px;
    height: 48px;
    display: flex;
    padding: 15px 31.8px 15px 32px;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    background: #fff;
    outline: none;
    border: none;
    cursor: pointer;
    color: #000;
    font-size: 13.453px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
}
footer{
    background-color: #000;
    height: 554px;
}