@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  font-family: "Inter", sans-serif;
  color: #000;
}

header {
  display: flex;
  height: 80px;
  background-color: black;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
}

header ul {
  display: flex;
  gap: 30px;
  list-style: none;
}

h2 {
  color: #000;
  text-align: center;
  font-size: 37.344px;
  font-style: normal;
  font-weight: 900;
  line-height: 46px;
  letter-spacing: -0.6px;
  margin-top: 75px;
}

header li,
a {
  text-decoration: none;
  font-family: Inter;
  font-size: 15px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
  list-style: none;
}

a:hover {
  color: #1ed760;
}

button {
  width: 220px;
  height: 48px;
  display: flex;
  padding: 15px 31.8px 15px 32px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background: #fff;
  outline: none;
  border: none;
  cursor: pointer;
  color: #000;
  font-size: 13.453px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
}

button:hover {
  transform: scale(1.05);
}

.logo {
  padding: 10px;
  display: flex;
  align-items: center;
  height: 60px;
}

.logo svg {
  height: 40px;
  fill: #fff;
}

.menu-geral {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.menu-geral img {
  display: none;
}

.banner {
  width: 100%;
  height: 600px;
  background: url("https://www.scdn.co/i/free/bubbles-dktp.svg") center -138px / 100% 1068px no-repeat,
    linear-gradient(-45deg, rgb(108, 14, 224) -5%, rgb(240, 55, 166));
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 90px;
}

.banner-title-container {
  display: flex;
  width: 626.18px;
  height: 229.19px;
  gap: 24px;
  flex-direction: column;
  justify-content: center;
}

.banner-hero-container {
  display: flex;
  height: 100%;
  align-items: flex-end;
}

.banner-title-container h1 {
  color: #fff;
  font-size: 59.375px;
  font-style: normal;
  font-weight: 900;
  line-height: 73.6px;
  letter-spacing: -2.56px;
}

.additional {
  background-color: #fff;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.additional-center-container {
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 60px 30px 100px 20px;
  gap: 24px;
  flex: 4;
}

.additional-center-inner-container {
  width: 280px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 24px;
}

.additional-center-inner-container img {
  width: 140px;
}

.additional-center-inner-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.additional-center-inner-text-container span {
  text-align: center;
  font-size: 19.688px;
  font-style: normal;
  font-weight: 700;
  line-height: 27.3px;
  /* 138.667% */
}

.additional-center-inner-text-container p {
  text-align: center;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.merchan {
  padding: 40px;
  display: flex;
  height: 495.19px;
  background: linear-gradient(180deg, #b023c2 15%, #600be7 100%);
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.merchan span {
  font-size: 45px;
  font-weight: 900;
  line-height: 58px;
  letter-spacing: -0.9599999785423279px;
  text-align: center;
  color: #fff;
}

.faq-section {
  height: auto;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 40px;
}

.faq-section-principal-container {
  width: 70%;
  margin-top: 72px;
}

.faq-section-inner-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.faq-section-inner-content ol {
  color: #000;
  padding: 0 0 0 20px;
  line-height: 25px;
}

.faq-section div details {
  width: 100%;
  display: flex;
}

.faq-section summary {
  display: flex;
  height: 50px;
  padding: 20px;
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  border-radius: 4px;
}

.faq-section summary:hover {
  background: #f6f6f6;
  text-decoration: underline;
}

/* Esconde o marcador padrão  da tag*/
summary::-webkit-details-marker {
  display: none;
}

/* marcador personalizado com uma seta mais bonitinha */
summary:after {
  width: 30px;
  height: 30px;
  content: url("src/icons/arrow.svg");
  margin-right: 10px;
  transition: transform 0.3s ease;
}

/* Rotaciona a imagem quando o <details> está aberto */
details[open] summary:after {
  transform: rotate(180deg);
}

.faq-section summary img {
  width: 30px;
}

.faq-section span {
  color: #117a37;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.acess {
  display: flex;
  background-image: url("src/img/banner-like.png");
  background-repeat: no-repeat;
  height: 450px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.acess span {
  font-size: 80px;
  font-weight: 800;
  line-height: 58px;
  letter-spacing: 0.5px;
  text-align: center;
  color: #fff;
}
footer {
  background-color: #000;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 40px;
  justify-content: space-between;
}

.logo-footer {
  display: flex;
  justify-content: flex-start;
}

.logo-footer img {
  width: 132px;
  height: 41.88px;
  color: #fff;
  fill: #fff;
}

.main-footer {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  padding-top: 50px;
}
.sub-main-footer {
  display: flex;
  gap: 20px;
  width: 100%;
  flex-direction: column;
}

dd {
  color: #fff;
}

dt {
  color: #919496;
  font-weight: 700;
}

dl {
  font-size: 15px;
  padding: 0 15px;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.menus-footer {
  min-width: 70%;
  display: flex;
  justify-content: center;
}
.redes {
  display: flex;
  align-items: flex-start;
}
.redes ul {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.redes ul li {
  display: flex;
  background: #222326;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 100%;
}

.redes ul li a {
  display: flex;
}

.redes ul li a svg {
  width: 24px;
  fill: #222326;
  background-color: #ffffff;
}
.linguage{
  width: 100%;
  display: flex;
  justify-content: end;
}
.politcs {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.politcs .politcs-list ul {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.politcs .politcs-list ul li a, .politcs .politcs-copy span, .linguage span a{
  width: 122.65px;
  height: 15px;
  top: 477px;
  left: 587.72px;
  font-family: Inter;
  font-size: 11px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;
  color: #919496;
}

@media screen and (max-width: 990px) {
  header {
    justify-content: space-between;
    padding: 0 16px;
  }

  h2 {
    font-size: 30px;
  }

  .acess span {
    font-size: 50px;
  }

  .banner {
    height: 450px;
  }

  .banner-title-container {
    padding: 16px;
  }

  .banner-title-container h1 {
    font-size: 48px;
    line-height: 60px;
  }

  .menu-geral nav ul {
    display: none;
  }

  .menu-geral img {
    display: block;
    cursor: pointer;
  }

  .banner-hero-container {
    display: none;
  }

  .additional-center-inner-container img {
    width: 100px;
  }

  .additional-img-container {
    width: 100px;
    display: flex;
    align-items: start;
  }

  .additional-center-inner-container {
    width: 100%;
    flex-direction: row;
    gap: 16px;
  }

  .additional-center-inner-text-container span {
    width: 100%;
    font-size: 18px;
    text-align: left;
  }

  .additional-center-inner-text-container p {
    text-align: left;
  }

  .banner-title-container {
    padding: 20px;
  }
  footer {
    height: 100%;
  }

  .main-footer {
    display: flex;
    flex-direction: column;
    padding: 50px 10px 20px;
  }

  .menus-footer {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }

  .redes {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .redes ul {
    margin: 10px;
  }
}
